body {
  font-family: 'Droid Sans';
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}
.remark-inline-code {
  background: #F3C859;
  padding: 3px 6px;
  color: #9e823a;
  display: inline-block;
}

a:link, a:visited, a:hover {
  color: inherit;
}

/* All Slides*/
.remark-slide-content {
  background: #353535;
  color: #fff;
}

/* Introduction */
#slide-introduction, #slide-demo {
  background-color: #F3C859;
  color: #fff;
}
#slide-introduction h1 {
	margin-top: 0;
}
#slide-introduction a:link, #slide-introduction a:visited, #slide-introduction a:hover {
  color: #9e823a;
}
#slide-introduction img, #slide-demo img {
  height: 15.75em;
}

img[alt^="RTFM"] {
	max-width: 193px;
	float: left;
  margin-right: 1em;
}

img[alt^="Middleman is watching"] {
  max-width: 514px;
  display: block;
  margin: 0 auto;
}
