body {
  font-family: 'Droid Sans';
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

a:link, a:visited, a:hover {
  color: inherit;
}

/* All Slides*/
.remark-slide-content {

}

/* Introduction */
#slide-introduction {
  background-color: #F3C859;
  color: #fff;
}
#slide-introduction h1 {
	margin-top: 0;
}
#slide-introduction a:link, #slide-introduction a:visited, #slide-introduction a:hover {
  color: #9e823a;
}
#slide-introduction img {
  height: 15.75em;
}

img[alt^=RTFM] {
	max-width: 275px;
	float: right;
}